.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 3px; */
    background-color: #f5f5f5;
    border-radius: 10px;
    /* margin: 10px; */
    margin-left: 16px;
}


.Task-View{
    width: 100%;
    padding: 2vh 1vw;
    text-align: justify;
    background-color: #dfdfdf53;
    margin: 10px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 10px;
    height: 60vh;
    overflow: none;
    
    /* border: 2px solid red; */
}
.Task-Num{
    background-color: rgb(176, 176, 227);
}

.Content{
    display: flex;
}

body {
    background-color: #ffffff;
}


